<html>
   <head>
      <title>Sample DOT Automation Service</title>
   </head>
   <body>
      <div>
         <form action="goodbye" method="post">
            <input type="text" value="Please Enter Complete Sentence"></input>
            <input type="submit"></input>
         </form>
      </div>
      <div>
         <p>
         <%= zipzop %>
         </p>
      </div>
   </body>
</html>
